@font-face {
    font-family: "SF-Pro-Display-Regular";
    src: local(SF-Pro-Display-Regular), url(../fonts/SF-Pro-Display-Regular.otf);
 }

 @font-face {
    font-family: "SF-Pro-Display-Bold";
    src: local(SF-Pro-Display-Bold), url(../fonts/SF-Pro-Display-Bold.otf);
 }

 @font-face {
  font-family: "SF-Pro-Display-Light";
  src: local(SF-Pro-Display-light), url(../fonts/SF-Pro-Display-light.otf);
}


 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }

body{
  background-color: #F8F8F8;
}

.header{
    width: 100%;
    height: 38vw;
    background: url("../img/fundo_topo.jpg") no-repeat center; 
    background-size: cover;
}

#container{
  display: block;
  width: 100%;
}

.menu_toggle{
  display: none;
}

.site_nav{
  display: none;
}

.header_menu {
  display: flex;
  justify-content: center;
  clear: both; 
  padding-top: 0.5%;
}

.header_menu li{
    list-style: none;
    margin-right: 35px;
    
}

#logo{
  width: 80px;
  height: 80px;
  margin-right: 35px;
  margin-top: -30px;
  clear: both;
}

.header_menu li a{
  color: #DFCFBF;
  font-family: 'SF-Pro-Display-Bold','Roboto', sans-serif;
  font-size: 0.8em;
}

.header_menu li a:hover{
border-bottom: 2px solid;
border-color: #DFCFBF;
}


.header_menu .current{
  border-bottom: 2px solid;
  border-color: #DFCFBF;
}


a:link { 
text-decoration:none; 
} 


.social{
  display: block;
  float: right;
  padding: 20px 20px;
}

.social a{
  margin-right: 5px;
}

ul{
  list-style-type: none;
}

li{
  list-style-type: none;
}


/*  Texto Cartão */

tab{
  display: inline-block; 
  margin-left: 20px; 
}

.titulo{
  font-family: 'SF-Pro-Display-Light','Roboto', sans-serif;
  font-size: 2.8vw;
  color: #95806A;
  margin-top: -48%;
  float: left;
  text-align:center;
  width: 100%;
}

.titulo_segundo{
  font-family: 'SF-Pro-Display-Light','Roboto', sans-serif;
  font-size: 2.5vw;
  color: #95806A;
  margin-top: -48%;
  float: left;
  text-align:center;
  width: 100%;
}

.sub_titulo{
  font-family: 'SF-Pro-Display-regular','Roboto', sans-serif;
  font-size: 0.8em;
  color: #9e9e9e;
  margin-top: -40%;
  float: left;
  text-align:center;
  width: 100%;
}


.sub_titulo::after{
  content: "  ";
	display: block;
	width: 85%;
	height: 1.5px;
  background: #9e9e9e;
  margin: 10px auto 10px auto;
	}


.texto_cartao{
    font-family: 'SF-Pro-Display-light','Roboto', sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #9e9e9e;
    margin-top: -29%;
    float: left;
    width: 100%;
}

.quero{
    display: block;
    margin: 0 auto;
    margin-top: -15%;
  
  }

/* Introdução */

.introducao{
  padding-top: 0.3%;
}

.container_item_um{
  display: block;
  padding-top: 28%; /* tamanho da imagem */
}

.primeiro_esquerda{
  float: left;
  width: 49.80%;
  background: url("../img/xicara_artesanal_home_cartao.jpg") no-repeat center; 
  background-size: 100% 100%;
}

.primeiro_direita{
  float: right;
  width: 49.80%;
  background: url("../img/xicara_artesanal_home.jpg") no-repeat center; 
  background-size: 100% 100%;
}


 .container_item_dois{
   display: block;
   margin-top: 0.3%;
   padding-top: 28%;
 }
 

.segundo_foto_esquerda{
  float: left;
  width: 49.80%;
  background: url("../img/xicara_personalizada_home.jpg") no-repeat center; 
  background-size: 100% 100%;

}

.segundo_cartao_direita{
  float: right;
  width: 49.80%;
  background: url("../img/xicara_personalizada_home_cartao.jpg") no-repeat center; 
  background-size: 100% 100%;
}

.btn_padrao{
  font-family: 'SF-Pro-Display-Bold','Roboto', sans-serif;
  text-transform: uppercase;
  background-color: #95806A;
  color:  #f8f8f8;
  font-size: 1em;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 40% ;
  height: 40px;
}

/* Portfólio */

#titulo_portfolio{
  font-family: 'SF-Pro-Display-Light','Roboto', sans-serif;
  text-transform: uppercase;
  color: #95806A;
  font-size: 3em;
  text-align: center;
  float: left;
  text-align:center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.container_portfolio{
  display: block;
   padding-top: 50%;
}

.container_portfolio_toda{
  margin-top: 0.3%;
  display: block;
  padding-top: 50%;
  float: left;
  width: 100%;
}

.portfolio_foto_esquerda_um{
  float: left;
  width: 49.80%;
  background: url("../img/portfolio_esquerda.jpg") no-repeat center; 
  background-size: 100% ;
}

.portfolio_foto_direita_um{
  float: right;
  width: 49.80%;
  background: url("../img/portfolio_direita.jpg") no-repeat center; 
  background-size: 120% 100%;
}

.portfolio_foto_toda_um{
  margin-top: 0.3%;
  display: block;
  padding-top: 50%;
  float: left;
  width: 100%;
  background: url("../img/portfolio_toda.jpg") no-repeat center; 
  background-size: cover;
}

.portfolio_foto_esquerda_dois{
  float: left;
  width: 49.80%;
  background: url("../img/portfolio_esquerda_dois.jpg") no-repeat center; 
  background-size: 100% ;
}

.portfolio_foto_direita_dois{
  float: right;
  width: 49.80%;
  background: url("../img/portfolio_direita_dois.jpg") no-repeat center; 
  background-size: 100% 150%;
}

.portfolio_foto_toda_dois{
  margin-top: 0.3%;
  display: block;
  padding-top: 50%;
  float: left;
  width: 100%;
  background: url("../img/portfolio_toda_dois.jpg") no-repeat center; 
  background-size: cover;
}

/*Plugin de Slide*/

.rslides_portfolio {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
 .rslides_portfolio li{
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides_portfolio li:first-child{
	position: relative;
	display: block;
	float: left;
}


.rslides_tabs {
 
	text-align: center;
	margin-top: 1%;
}

.rslides_tabs li{
	display: inline;
	margin: 0 5px;
}

.rslides_tabs li a{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #95806A;
	color: #95806A;
	border-radius: 20px;
	overflow: hidden;
	text-indent: -200px;
}

.rslides_tabs li a:hover, .rslides_tabs li.rslides_here a {
	background: #DFCFBF;
	color: #DFCFBF;
}

/* Footer */

#footer_container{
  margin-top: 0.3%;
  display: block;
  float: left;
  background-color: #95806A;
  width: 100%;
  padding-top: 10%;
  text-align: center;
  
}

#footer_grid{

  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: -12%;
  margin-bottom: 5px;
  width: 80%;
  padding-top: 11%

}

#footer_grid_menu{

  position: relative;
  margin-top: -9%;
  padding-top: 11%;
  float: left;
  width: 150px;
  margin-right: 20px;
  margin-left: 10%;
}

#footer_grid_endereco{

  position: relative;
  margin-top: -9%;
  padding-top: 11%;
  float: left;
  width: 200px;
  margin-right: 20px;
}

#footer_grid_social{

  position: relative;
  margin-top: -9%;
  padding-top: 11%;
  float: left;
  width: 180px;
  margin-left: 30px;
}

.footer_titulo{
    font-family: 'SF-Pro-Display-bold','Roboto', sans-serif;
    font-size: 0.9rem;
    text-align: left;
    color: #f8f8f8;
    margin-top: -9vw;

}

.footer_conteudo{
  text-align: left;
  margin-top: 5px;
  
}

.footer_texto{
  font-family: 'SF-Pro-Display-regular','Roboto', sans-serif;
  font-size: 0.7rem;
  color: #f8f8f8;
}



/* Responsivo */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .header{ height: 38vw;}
  
  #logo{
    margin-top: -40px;
    width: 65px;
    height: 65px;
  }
  
 
.titulo_segundo{
  font-size: 2.3vw;
}

 .texto_cartao{
  font-size: 1.5vw;
 }

 .sub_titulo{
   font-size: 0.7em;
 }

 .quero{
   margin-top: -16%
 }

}

@media only screen  and (min-width: 669px) and (max-width: 767px) {

  .header{
    height: 38vw;
  }

  .sub_titulo{
    margin-top: -40.5%;
  }

  .texto_cartao{
    margin-top: -30%;
    font-size: 1.6vw;
  }


  .btn_padrao{
    height: 4.5vw;
  }


  /*Menu responsivo */

  #logo{
    display: none;
  }

  .menu_toggle{
    margin-top: -30px;
    margin-left: 15px;
    width: 100%;
    float: left;
    display: block;
  }

  .menu_toggle img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .site-nav--icon {
    display: none;
  }
  

  .site_nav{
    float: left;
    position: absolute;
    display: block;
    background-color: #DFCFBF;
    width: 100%;
    clip-path: circle(0px at top left);
    transition: clip-path ease-in-out 200ms;
  }

  .site_nav a{
    font-family: 'SF-Pro-Display-Bold','Roboto', sans-serif;
    font-size: 1em;
    color: #F8F8F8;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    margin-left: 20px;
  }

  .site_nav li:hover, .site_nav li:focus{
    background-color: #95806A;
  }

  .site_nav ul{
    margin: 0;
    padding: 0;
   
  }

  .site_nav li{
    border-bottom: 1px solid #F8F8F8;
  }

  .site-nav--open {
    clip-path: circle(250% at top left);
  
  }

 .header_menu li {
  display: none;
 }

 /* Fim menu responsivo */

}

@media only screen  and (max-width: 668px){

  .header{
    height: 38vw;
  }

  /*Menu responsivo */

  #logo{
    display: none;
  }

  .menu_toggle{
    margin-top: -30px;
    margin-left: 15px;
    width: 100%;
    float: left;
    display: block;
  }

  .menu_toggle img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .site-nav--icon {
    display: none;
  }
  

  .site_nav{
    float: left;
    position: absolute;
    display: block;
    background-color: #DFCFBF;
    width: 100%;
    clip-path: circle(0px at top left);
    transition: clip-path ease-in-out 700ms;
  }

  .site_nav a{
    font-family: 'SF-Pro-Display-Bold','Roboto', sans-serif;
    font-size: 1em;
    color: #F8F8F8;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: block;
    margin-left: 20px;
  }

  .site_nav li:hover, .site_nav li:focus{
    background-color: #95806A;
  }

  .site_nav ul{
    margin: 0;
    padding: 0;
   
  }

  .site_nav li{
    border-bottom: 1px solid #F8F8F8;
  }

  .site-nav--open {
    clip-path: circle(250% at top left);
  
  }

 .header_menu li {
  display: none;
 }

 /* Fim menu responsivo */


 /* Introdução */

  .container_item_um{
    display: block;
    padding-top: 50%; /* tamanho da imagem */
  }
  .container_item_dois{
    display: block;
    padding-top: 50%;
  }

  .primeiro_esquerda{
   width: 100%;
  }

  .primeiro_direita{
    margin-top: 0.4%;
    width: 100%;
  }
  
  .segundo_foto_esquerda{
    width: 100%;
  }
  .segundo_cartao_direita{
    margin-top: 0.4%;
    width: 100%;
  }

  .titulo{
    font-size: 6vw;
    margin-top: -44%;
  }
 
  .sub_titulo{
    margin-top: -35%;
    font-size: 1em;
  }

  .texto_cartao{
    margin-top: -28%;
    font-size: 3vw;
  }

  .btn_padrao{
    font-size: 4vw;
    height: 8vw;
  }

  .quero{
    margin-top: -14%;
  }
 
  .titulo_segundo{
    margin-top: -43%;
    font-size: 5vw;
  }
}

@media only screen and (max-width: 600px){
  .site_nav a{
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
  }

  .site_nav li:last-child{
    padding-bottom: 100%;
  }

}

@media only screen and (max-width: 482px){

  .titulo{
    font-size: 5.5vw !important;
  }

  .sub_titulo{
    margin-top: -36.7% !important;
    font-size: 0.7em !important;
  }

}